@font-face {
  font-family: 'SeoulNamsan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

:root {
  --font-seoulnamsan:
    'SeoulNamsan',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
}

html {
  font-family: var(--font-seoulnamsan);
}
